.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  

  
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;

}

.card-info{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10px;
  color: white;
  width:100%;
  
}

.card-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;

}

.card-button:hover {
  opacity: 0.8;
  /* background-color: #09f; */
  
}

.card-button.is-following {
  border: 1px solid #bbb;

  background:transparent;
  color: #fff;
  width: 280px;

}

.card-button.is-following:hover {
  color:red;
}

.card-button-unfollowing{
  display:none;
}
.card-button-text{
  display:block;
}

.card-button.is-following:hover .card-button-unfollowing{
  display:block;
  color:red;
}


.card-button.is-following:hover .card-button-text{
  display: none;
}

